.card {
    background-color: white;
    width: 100%;
    height: 100%;
    border: solid 1px;

    border: 1px;
    border-radius: 1rem;
    box-shadow: 7px 7px 7px grey;

    padding: 25px;
}

.name {
    font-family: "randon-grotesque, museo-sans, Helvetica Neue, Helvetica, Arial, sans-serif" !important;
    font-size: large;
    text-align: center;
}

.link {
    cursor: pointer;
    text-align: center;
    color: #0000EE;
}

.description {
    text-align: center;
    color: gray;
}