.card {
    background-color: white;
    width: 100%;
    height: 100%;
    min-height: 140px;
    border: solid 1px;

    border: 1px;
    border-radius: 1rem;
    box-shadow: 7px 7px 7px grey;

    padding: 25px;
}

.description {
    font-family: "randon-grotesque, museo-sans, Helvetica Neue, Helvetica, Arial, sans-serif" !important;
    font-size: large;
}

.from {
    text-align: right;
    color: gray;
}