.container {
    background-image: url("../../../public/assets/images/kudo-background.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    padding: 30px 2% 30px 1%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kudo {
    padding: 5px;
}

.containerSenior {
    display: flex;
}

.columnSenior {
    width: 300px;
    margin: 0px 20px;
}

.column {
    width: calc(100% / 3);
    padding: 5px;
}